<h1>The Main App with Routing Mechanism</h1>
<nav>
    <a routerLink="/" [routerLinkActiveOptions] ="{ exact : true}" routerLinkActive="active">Calc App</a>
    <a routerLink="/EmpDemo" routerLinkActive="active">Emp App</a>
    <a routerLink="/RestDemo" routerLinkActive="active">Rest App</a>
</nav>
<router-outlet></router-outlet>
<footer>
    <p>&copy;Phaniraj B.N.</p>
</footer>
<!-- <app-calc></app-calc> -->
<!-- <app-emp-repository></app-emp-repository> -->
<!-- <app-rest-client></app-rest-client> -->