/* You can add global styles to this file, and also import other style files */
h1{
    color:blue;
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.active{
    color:red;
}